{% if pagination.total > 1 %}
<div class="row text-center">
  <nav aria-label="Page navigation">
    <ul class="simplePagination"></ul>
  </nav>
</div>
<script type="text/javascript">
$(function() {
    $('.simplePagination').pagination({
      pages: {{pagination.total}},
      displayedPages: 5,
      edges: 3,
      currentPage: {{pagination.number}},
      hrefTextPrefix: '?page=',
      selectOnClick: false,
      cssStyle: 'pagination pagination-sm',
      prevText: '<span aria-hidden="true">&laquo;</span>',
      nextText: '<span aria-hidden="true">&raquo;</span>',
    });
});
</script>
{% endif %}
