body {
  padding-top: 60px;
}

.img-thumbnail {
  margin-bottom: 20px;
}

.img-thumbnail .caption {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.album-thumb {
  width: 150px;
}

.image-thumb {
  width: 250px;
}
