{% extends "layouts/default.jinja2" %} 

{% block content %}
<p>
    {% for item in items %}
        {% if item.type == 'dir' %}
    <a href="/view/{{item.path}}">
        <img src="/dirthumb/{{item.path}}-200.jpg" />
    </a>
        {% endif %}
    {% endfor %}
</p>
<p>
    {% for item in items %}
        {% if item.type == 'file' %}
    <a href="/albums/{{item.path}}">
        <img src="/viewimage/{%if item.namesplit.file_dir %}{{item.namesplit.file_dir}}/{%endif%}{{item.namesplit.file_name}}-200.{{item.namesplit.file_ext}}" />
    </a>
        {% endif %}
    {% endfor %}
</p>
{% endblock content %}